In [1]:
from sqlalchemy import create_engine

In [ ]:
# after implmentation this cell should be removed completely 

DIALECT = "psycopg2"
DRIVER = "postgresql"
PORT = 5432
HOST = "smarthelm-nas.vlba.uni-oldenburg.de"
ENVIRONMENT = "testing_db"

user_id = "smarthelm_db_admin"
password = "/kCh.g%3v4/TW5f="
dialect = DIALECT
driver = DRIVER
port = PORT
host = HOST
db_name = ENVIRONMENT

In [ ]:
db_engine = create_engine(f"{driver}+{dialect}://{user_id}:{password}@{host}:{port}/{db_name}")

In [ ]:
## ## Distance travelled by the participant in one session 
sql_query = """
SELECT round(((max(seconds_of_day) - min(seconds_of_day)) * avg(velocity) * 3.6)  ,2)
        AS distance_travelled
FROM public.fact_data
WHERE participant_id = '{participant_id}'
	AND experiment_nr = {exp_nr}
	AND experiment_location_id = '{exp_location}'
	AND experiment_date = '{exp_date}'
"""

In [ ]:
results = db_engine.execute(sql_query.format(participant_id= "MN", 
                                             exp_nr= 1,
                                             exp_location='Rytle',
                                            exp_date='2021-10-20'
                                            ))
distance_travelled_per_session = results.fetchall()

In [ ]:
print(f"distance travelled by the pro session  ", distance_travelled_per_session[0][0] )

In [ ]:
## total time per experiment by an candidate
sql_query = """
            SELECT ((max(seconds_of_day) - min(seconds_of_day))/ 60) as time_duration
               from public.etd_data
               where participant_id =  '{participant_id}' and experiment_nr= {exp_nr}
               group by experiment_date
                """

In [ ]:
results = db_engine.execute(sql_query.format(participant_id= "MN", exp_nr = 1))
time_duration_per_session = results.fetchall()

In [ ]:
print(f"time taken for completion  by the per session:  {time_duration_per_session[0][0]} minutes")

In [ ]:
## KPI's for eeg data 

sql_query = """
            SELECT avg(eeg_value_1) as average_eeg_elctrode_1,
                   avg(eeg_value_2) as average_eeg_elctrode_2,
                   avg(eeg_value_3) as average_eeg_elctrode_3,
                   avg(eeg_value_4) as average_eeg_elctrode_4,
                   avg(eeg_value_5) as average_eeg_elctrode_5,
                   avg(eeg_value_6) as average_eeg_elctrode_6,
                   avg(eeg_value_7) as average_eeg_elctrode_7
            from   public.eeg_data
            where  participant_id =  '{participant_id}' and experiment_nr= {exp_nr}
            group by experiment_date       
                   
            """

In [ ]:
results = db_engine.execute(sql_query.format(participant_id= "MN", exp_nr = 1))
eeg_impedance_per_session = results.fetchall()

In [ ]:
print(f"impedances value from the 7 eeg electrodes per one session  are: {eeg_impedance_per_session}")

#### KPI 3rd phase queries

In [2]:
49218

49218

In [3]:
24 * 3600

86400